.scoreCard {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #edeced;
    padding: 10px 30px;
}

.scoreCardFound {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #edeced;
    padding: 10px 30px;
    font-weight: bold;
    background-color: grey;
}

  